{
  "_source": false,
  "query": {
    "bool": {
      "must": {
        "match": {
          "name": "{{article_name_query}}"
        }
      },
      "filter": {
        "range": {
          "created_at": {
            "gte": "{{created_at}}{{^created_at}}now-1w{{/created_at}}"
          }
        }
      }
    }
  },
  "from": "{{from}}{{^from}}0{{/from}}",
  "size": "{{size}}{{^size}}20{{/size}}"
}